.InfoSection {
    padding: 30px 30px 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskInfo {
    color: black;
    display: inline-block;
}

.taskCount {
    font: var(--font-h2);
}

.taskDescription {
    padding-top: 5px;
    font: var(--font-small-1);
}

.navButtons {
    width: 71px;
    display: flex;
    justify-content: space-between;
}

.storyIcon {
    cursor: pointer;

    &:hover > svg > path:nth-child(-n + 2) {
        fill: var(--primary-color);
    }

    &:hover > svg > path:nth-child(3) {
        stroke: var(--primary-color);
    }
}

.plusIcon {
    cursor: pointer;

    &:hover > svg > path {
        stroke: var(--primary-color);
    }
}