@import "reset";
@import "variables/global";


.app {
    font: var(--font-body-r-wf);
    width: var(--app-width);
    height: var(--app-height);
    background: var(--app-bg);
}

.page-wrapper {
    min-width: 100%;
    min-height: calc(var(--app-height) - var(--footer-height));
    display: inline-block;
}