@import "reset";
@import "variables/global";
@import "themes/blue";
@import "themes/orange";
@import "themes/purple";


.app {
    font: var(--font-body-regular-tp);
    width: var(--app-width);
    height: var(--app-height);
    background: var(--app-bg);
    color: var(--primary-color);
}

.page-wrapper {
    min-width: 100%;
    min-height: calc(var(--app-height) - var(--footer-height));
    display: inline-block;
}