.NavMainPage {
  color: #9FB4F6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: var(--mp-nav-height);
  padding: 30px 30px 0 30px;
}

.title {
  width: 221px;
  text-align: center;
  font: var(--font-btn);
  color: var(--secondary-color);
}

.iconButtonMain {
  width: 70px;
  height: 32px;

  & > svg > path:nth-child(-n + 8) {
    fill: var(--secondary-color);
  }
}

.iconButtonSettingsWrapper {
  width: 70px;
  height: 32px;
}

.iconButtonSettings {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

  & > svg {
    cursor: pointer;

    &:hover > path {
      stroke: var(--primary-color);
    }

    &:hover > circle {
      stroke: var(--primary-color);
    }
  }
}