.NavMainPage {
    color: #9FB4F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--mp-nav-height);
    padding-top: 20px;
}

.title {
    font: var(--font-btn);
    color: var(--secondary-color);
}

.iconButtonMain {
    width: 70px;
    height: 32px;

    & > svg > path:nth-child(-n + 8) {
        fill: var(--secondary-color);
    }
}

.iconButtonSettingsWrapper {
    width: 70px;
    height: 32px;
}

.iconButtonSettings {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;

    & > svg {
        cursor: pointer;

        &:hover > path {
            stroke: var(--primary-color);
        }

        &:hover > circle {
            stroke: var(--primary-color);
        }
    }
}