.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tomatoStateName {
  cursor: default;
  font: var(--font-btn);
  color: var(--secondary-color);
}

.taskNameContainer {
  width: 221px;
  height: 21px;
}

.taskName {
  margin-top: 2px;
  font: var(--font-body-regular);
  text-align: center;
  color: #040404;
  cursor: pointer;
  width: 221px;
  height: 21px;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.marquee p {
  margin-right: 20px;
}


.taskNameStatic {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dotsIndicator {
  margin-top: 10px;
}

