.RewardIconIndicator {
  position: relative;
  width: 30px;
  height: 36px;
}

.circle {
  position: absolute;
  right: 0;
  min-width: 15px;
  min-height: 15px;
  background: #040404;
  border-radius: 100px;
  padding: 0 2px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.number {
  font: var(--font-btn);
  color: white;
}