.app.blue {
  --primary-color: #9FB4F6;
  --secondary-color: #687FC9;
  --contrast-color: #fff;
  --select-arrow-theme: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxTDcuNzI1MDEgNy43MjUwMUM3Ljg3Njg4IDcuODc2ODggOC4xMjMxMiA3Ljg3Njg4IDguMjc0OTkgNy43MjUwMUwxNSAxIiBzdHJva2U9IiM5RkI0RjYiIHN0cm9rZS13aWR0aD0iMS41NTU1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8L3N2Zz4NCg==') no-repeat right;
}