.app.darkblue {
    --primary-color: #5D6EA8;
    --secondary-color: #3B4B85;
    --contrast-color: white;
    --select-arrow-theme: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPHBhdGggZD0iTTEgMUw3LjcyNTAxIDcuNzI1MDFDNy44NzY4OCA3Ljg3Njg4IDguMTIzMTIgNy44NzY4OCA4LjI3NDk5IDcuNzI1MDFMMTUgMSIgc3Ryb2tlPSIjNUQ2RUE4Ig0KICAgICAgICAgIHN0cm9rZS13aWR0aD0iMS41NTU1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8L3N2Zz4NCg==') no-repeat right;
}