.ContentTasksPage {
    min-width: 100%;
    min-height: calc(var(--app-height) - var(--footer-height) - var(--task-nav-height));
}

.emptyTaskList {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasksWrapper {
    width: 496px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 26px;
    overflow-y: scroll;
    align-content: flex-start;
}
