.layout {
  padding: 30px 30px 0 30px;
}

.title {
  width: 100%;
  height: 35px;
  font: var(--font-h2);
  color: #26282B;
}

.titleDescription {
  margin-top: 5px;
  height: 14px;
  font: var(--font-small-1);
  color: #040404;
}

$boxShadowBottomValue: 4px;
.addAddressContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 20px;
  margin-top: 30px;
  height: 43px;
  width: 438px;
  border: 1px solid #040404;
  border-radius: 5px;
  color: white;
  background-color: white;
  box-shadow: 3px $boxShadowBottomValue black;

  & input {
    width: 100%;
  }

  & input:focus {
    outline: none;
  }
}

.addingButton {
  margin-left: 10px;
  float: right;
  height: 30px;
  width: 30px;
  box-shadow: 2px 2.5px black;
}

.blockAll {
  margin-top: 15px + $boxShadowBottomValue;
  height: 16px;
  color: black;
  font: var(--font-btn);

  &:hover {
    color: var(--primary-color);
  }
}

.addressesContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 16px;
  padding-right: 20px;
  overflow-y: auto;
  height: 310px;
}

.noDataIconContainer {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}


$shiftValue: 43px+18px;
.slideDown {
  position: relative;
  animation: slide-down 0.5s ease;
}

@keyframes slide-down {
  0% {
    top: 0;
  }
  100% {
    top: $shiftValue;
  }
}